// Specific CSS for your home-page
.navbar-header {
  margin: 0;
}

.navbar {
  padding: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  display: flex;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: rgb(0, 0, 0);;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.structure {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248,246,239, 0.7);
  padding: 10px;
  border-radius: 3px;
}

.btn-flat {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  border-radius: 4px;
  background: #A1BE97;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: rgb(0, 0, 0);;
  padding: 8px 24px;
  border-radius: 4px;
  background: #A1BE97;
  transition: background 0.3s ease;
  margin: 30px;
}

.flex-item {
  display: center;
  justify-content: center;
}
