// Specific CSS for your home-page
.navbar-header {
  margin: 0;
}

.navbar {
  padding: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  display: flex;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: #333333;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: 600;
  font-family: sans-serif;
}

.banner p {
  font-size: 20px;
  color: #2e2d2c;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.structure {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248,246,239, 0.7);
  padding: 30px;
  border-radius: 3px;
}

.btn-flat {
  color: white;
  padding: 10px 50px;
  border-radius: 4px;
  background: #A1BE97;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: larger;
  font-family: sans-serif;
  position: relative;
}

.btn-flat:hover {
  background: #8fb682;
  color: white;
}

.btn-ghost:hover {
  background: #8fb682;
  color: white;
}


.btn-ghost {
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  border-radius: 4px;
  background: white;
  border: 2px solid #A1BE97;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: larger;
  font-family: sans-serif;
  position: relative;
}

.flex-item {
  display: center;
  justify-content: center;
}

.footer {
  background-color: #f3f0e6;
  //size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: contents;

}
