<% if @apartment.photos.attached?  %>
  <div id="carouselExampleControls" class="carousel slide w-75 m-auto" data-bs-ride="carousel">
    <div class="carousel-inner h-100 position-relative">
      <%= link_to "X", apartments_path, style: "color: white; position: absolute; top: 4px; right: 4px; z-index: 100; text-decoration: none; margin-right: 25px; font-size: 60px;", data: {turbolinks: false}%>

      <%# The code below is not working for me... (font awesome icon) %>

      <%# <%= link_to apartments_path, {class: "exitcarousel"} do %>
        <%# <i class="fa-thin fa-circle-x" style="colod: red;"></i> %>
      <%# <% end %>

      <div class="carousel-item active h-100">
        <img class="main-img d-block w-100 h-100" src="<%= cl_image_path @apartment.photos.first.key %>" alt="" style="object-fit: cover;">
      </div>
      <% @apartment.photos[1..].each do |photo| %>
        <div class="carousel-item h-80">
          <img class="d-block w-100 h-80"  src="<%= cl_image_path photo.key %>" alt="" style="">
        </div>

      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
