@import "apartments/show";

.carousel {
  height: 100vh;
  // height: calc(100vh - 90px); // full page height minus height of navbar
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.carousel-inner {
  transition: transform .5s ease-in-out;
  &:hover {
  }
}
.carousel-item {
  transition: transform 1.5s ease-in-out;
  a {
    text-decoration: none;
    color: inherit;
  }
}
.carousel-card {
  border-radius: 4px;
  background-color: rgba(161,190,151, .3);
  padding: 25px;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  min-width: 200px;
  width: 60vw;
  height: 60vh;
  min-height: 60vh;
  min-height: fit-content;
  margin: 0 auto;

  .apartment-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .apartment-picture {
    width: 50%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.likebutton {
  display: flex;
  justify-content: center;
  transform: translate(0px, -40px);
}

#like, #dislike {
  background-color: transparent;
  border: none;
}

#like {
  padding-left: 1rem;
}

.icon-ad {
  margin-right: 0.25rem;
}

.icon-ad-house {
  margin-left: -0.25rem;
  margin-right: 0.15rem;
}

.icon-ad, .icon-ad-house {
  color: #A1BE97;
}

.index-card {
  transform: scale(1.03);
}

.card-title {
  font-size: 20px;
  padding: 1rem;
  text-align: left;
  word-break: break-word;
}

.buttoncolor {
  color: rgba(0, 0, 0, 0.55);
}

.buttoncolor:hover {
  color: rgba(0, 0, 0, 0.7);
}
