
.swiper-slide {
  height: 250px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.pink {
  background-color: lightpink;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}
