// .exitcarousel {
//   position: absolute;
//   top: 4px;
//   right: 100px;
//   z-index: 100 !important;
//   padding: 25px;
// }
.carousel_container {
  padding: 12px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
