.chatroom {
  height: 70vh;
  display: flex;
  width: 70%;
  margin: 24px auto;
  gap: 24px;

  .messages {
    position: relative;
    flex: 1;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#matches-column {
  flex: 1;
  background-color: white;
  box-shadow: $shadow-sm;
  padding: 24px;
  border-radius: 8px;
}

#chat-column {
  flex: 1;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-sm;
  padding: 24px;
}

.new-card-img-top {
  border-radius: 10%;
}
