<%= form_with url: onboarding_path  do |onboarding_form| %>
<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">

                <%= render "onboarding/apartment_form", onboarding_form: onboarding_form %>
                <%= render "onboarding/filter_form", onboarding_form: onboarding_form %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
