<head>
  <title>TauschME</title>
  <link rel="icon" type="image/x-icon" href="/images/T4.jpg">
</head>
<%= render 'shared/navbar_index' %>


<div class="card-trip">
  <%= render 'shared/image_carousel' %>
  <div class="card-trip-infos">
    <div>
      <h2>Sunny apartment in the heart of Marzahn</h2>
      <p>We cant believe how nice it is!</p>
    </div>
    <h2 class="card-trip-pricing">€699.99/month</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
