<head>
  <title>TauschME</title>
  <link rel="icon" type="image/x-icon" href="/images/T4.jpg">
</head>
<%= render 'shared/navbar_index' %>


<div class="card-trip">
  <%= render 'shared/image_carousel' %>

<div>
<%= link_to "back", apartment_path, class: 'btn btn-gohst' %>
</div>
